@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@font-face {
    font-family: 'recoleta';
    src: url('/font/Recoleta-Regular.ttf') format('ttf'),

}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variables
$title-color: rgb(248, 243, 240);

$font-color: #333;
$card-bg-color: #fff;
$border-radius: 10px;
$spacing-unit: 15px;
$primary-font: Poppins, sans-serif;
$secondary-font: recoleta, sans-serif;
$btn-bg-color: rgba(255, 255, 255, 0.1);
$bg-overlay-color: linear-gradient(90.00deg, rgb(0, 62, 51) 10%, rgba(0, 62, 51, 0.71) 20%, rgba(0, 62, 51, 0) 30%, rgba(0, 62, 51, 0) 70%, rgba(0, 62, 51, 0.7) 80%, rgb(0, 62, 51) 87%);

// background color
$body-bg-color: rgb(0, 62, 51);

// Mixins
@mixin flex-center($j-position , $a-position ) {
    display: flex;
    justify-content: $j-position;
    align-items: $a-position;
}

// Global Styles
body {
    color: $font-color;
    background-color: $body-bg-color;
    position: relative;
    font-family: $primary-font;


    .carousel-section {
        margin-top: 10%;

        .carousel-header-info {
            text-align: center;
            @include flex-center(center, center);
            flex-direction: column;

            h2 {
                color: rgba(248, 243, 240, 0.8);
                font-family: $secondary-font;
                font-size: 13px;
                padding: 10px;
                box-sizing: border-box;
                border: 1px solid rgb(219, 161, 77);
                border-radius: 39px;
                background: rgba(219, 161, 77, 0.1);
                margin-bottom: $spacing-unit;

            }

            h1 {
                color: rgb(248, 243, 240);
                font-family: $primary-font;
                font-size: 28px;
                margin-bottom: $spacing-unit;
            }

        }

        .carousel {
            width: 100%;
            overflow: hidden;
            margin: auto;


            .carousel-inner {
                display: flex;
                transition: transform 0.5s ease-in-out;

                .carousel-item {

                    box-sizing: border-box;

                    .card {
                        background-color: $card-bg-color;
                        border-radius: $border-radius;
                        margin: $spacing-unit;
                        display: flex;
                        flex-direction: column;
                        padding: 30px;


                        .card-content {
                            display: flex;
                            flex-direction: column;
                            gap: 20px;


                            .img-info {
                                display: flex;
                                gap: $spacing-unit;
                                align-items: center;


                                img {
                                    width: 40px;
                                    height: 40px;
                                    border-radius: 50%;

                                }

                                .info {
                                    display: flex;
                                    flex-direction: column;

                                    .rating {
                                        color: rgb(255, 119, 0);
                                        font-size: 18px;

                                    }

                                }

                            }

                        }
                    }
                }
            }
        }

        .carousel-nav {
            display: flex;
            justify-content: center;
            gap: 40px;
            margin: 20px;

            button {
                border: 1px solid rgba(248, 243, 240, 0.4);
                border-radius: 100%;
                background: $btn-bg-color;
                color: $card-bg-color;
                cursor: pointer;
                font-size: 18px;
                z-index: 10;
                width: 40px;
                height: 40px;
                transition: background-color 0.3s;

                &:hover {
                    background: $body-bg-color;
                }
            }
        }
    }



}



// Media Queries for responsive design
@media (min-width: 1200px) {

    .bg-overlay {
        background: $bg-overlay-color;
        position: absolute;
        content: " ";
        width: 100%;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .carousel-section {
        @include flex-center(center, center);
        margin: auto;
        max-width: 1240px;
        

        .carousel-inner {
            .carousel-item {
                min-width: 25%;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .carousel-inner {
        .carousel-item {
            min-width: 33.33%; // 3 items per view
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    .carousel-inner {
        .carousel-item {
            min-width: 50%; // 2 items per view
        }
    }


}

@media (max-width: 575px) {

    .carousel-inner {
        .carousel-item {
            min-width: 90%; // 1 item per view
        }
    }

}